@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background-color: 255, 255, 255;
  --foreground-bg-color: 255, 255, 255; /* bg-white */
  --border-color: 229, 231, 235; /* border-gray-200 */
  --title-color: 0, 0, 0;
  --text-color: 55, 65, 81; /* text-gray-700 */
  --card-button-background: 29, 78, 216; /* bg-blue-700 */
  --card-button-hover-background: 30, 64, 175; /* hover:bg-blue-800 */
  --card-focus-ring: 147, 197, 253; /* focus:ring-blue-300 */
  --button-text-color: 255, 255, 255;
}

.dark {
  --body-background-color: 17, 24, 39;
  --foreground-bg-color: 31, 41, 55; /* bg-gray-800 */
  --border-color: 31, 41, 55;
  --title-color: 255, 255, 255; /* text-white */
  --text-color: 156, 163, 175; /* text-gray-400 */
  --card-button-background: 37, 99, 235; /* bg-blue-600 */
  --card-button-hover-background: 29, 78, 216; /* hover:bg-blue-700 */
  --card-focus-ring: 30, 58, 138; /* focus:ring-blue-800 */
  --button-text-color: 255, 255, 255;
}
